
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="">
					<div class="w3ls_dresses_grid_left_grid">
						<h3>Categories</h3>
							<div class="w3ls_dresses_grid_left_grid_sub">
								<div class="ecommerce_dres-type">
									<ul>
										<li><a href="watches.html">Leather strap</a></li>
										<li><a href="watches.html">Steel strap</a></li>
										<li><a href="watches.html">Chain type</a></li>
										<li><a href="watches.html">Iron strap</a></li>
									</ul>
								</div>
							</div>
					</div>
					<div class="w3ls_dresses_grid_left_grid">
						<h3>Color</h3>
						<div class="w3ls_dresses_grid_left_grid_sub">
							<div class="ecommerce_color">
								<ul>
									<li><a href="#"><i></i> Red(5)</a></li>
									<li><a href="#"><i></i> Brown(2)</a></li>
									<li><a href="#"><i></i> Yellow(3)</a></li>
									<li><a href="#"><i></i> Violet(6)</a></li>
									<li><a href="#"><i></i> Orange(2)</a></li>
									<li><a href="#"><i></i> Blue(1)</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="w3ls_dresses_grid_left_grid">
						<h3>Size</h3>
						<div class="w3ls_dresses_grid_left_grid_sub">
							<div class="ecommerce_color ecommerce_size">
								<ul>
									<li><a href="#">Medium</a></li>
									<li><a href="#">Large</a></li>
									<li><a href="#">Extra Large</a></li>
									<li><a href="#">Small</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-8">
        <div class="container" >
          <div class="row" style="display: inline-flex;flex-direction: row;">
              <div  *ngFor="let pro of saleprolist" style="flex:1 0 30%">
                
                     <div class="card text-black bg-light" style="margin: 10px;">
                       <div class="card-body">
                         
                         <img class="img-thumbnail" src="../../../assets/images/{{pro.image}}">
                         <h4 class="card-title">{{pro.name}}</h4>
                         <p class="card-text">Price : {{pro.price}}</p>
                         <p class="card-text">Offer Price : {{pro.offerPrice}}</p>
                       </div>
                     </div>
              </div>
          </div>
      </div>
			</div>
		</div>
	</div>
</div>
<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h2>Newsletter</h2>
				<p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form [formGroup]="userForm" (ngSubmit)="loginUser(userForm.value)">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="Subscribe" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //newsletter -->
<div class="footer">
