<div class="row justify-content-center bg-light" style="margin-top: 20px;">
    
    <div class="col-6">
        <h5>ABOUT US</h5>
        <p>THEARTBUNDLE is a team of artists which believe to provide best art work for you.</p>
        <p>If you are looking to unwind and de-stress then this is a right place 
            for you as we know Homo sapiens have long acknowledged the benefit of color and the
            healing power of color therapy. Coloring is another way of interacting 
            with color and certainly the colors chosen will have an effect on the
            mood of the person who is coloring in. </p>

        <p>We truly hope that what you find on this site will inspire you to create your own art,
            and/or encourage you to share your unique vision with the world in some other creative way!!!</p>

        <p>There No more trips to town to buy a coloring book, no more online purchases, just click and print 
            the coloring pictures you want to use. 
            </p>
    </div>    
    <div style="margin-top: 40px;" class="col-2"><img class ="img-thumbnail" src="../../../assets/images/aboutus.jpg" alt=" " /></div>
</div>