
<nav class="navbar navbar-expand-md navbar-dark bg-dark sidebarNavigation" data-sidebarClass="navbar-dark bg-dark" *ngIf="currentUser">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home" *ngIf="currentUser" >Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <h4 *ngIf="currentUser" >Hello, {{currentUser.firstName}} {{currentUser.lastName}}</h4>
                <li class="nav-item">
                    <a class="nav-link" href="/login" *ngIf="!currentUser">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register" *ngIf="!currentUser">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="Logout()" *ngIf="currentUser"> Logout</a>
                    </li>
                
            </ul>
        </div>
    </div>
    </nav>