
<div class="container">
	<form [formGroup]="userForm" (ngSubmit)="forgotPassword(userForm.value)">
	<div class="row text-white">
		 <h1><i class="fa fa-lock" aria-hidden="true"></i> Forgot Password</h1>
        </div><br /><br />      
		<div formGroupName="userLogin">
			<div class="input-group">
				<input type="text"  class="form-control" placeholder="Email Id"
				[class.is-valid]="userForm.get('userLogin').get('emailId').valid"
				[class.is-invalid]="!userForm.get('userLogin').get('emailId').valid && submitted"
				formControlName="emailId"
				>
			</div><br />
		</div>           
        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-off"></span> Send</button>
        <div  class="text-danger" *ngIf="showErrorMessage">{{showErrorMessage}}</div>
        <div class="footer">
                  <p>Login Again! <a routerLink="/login">Login</a></p>
        </div>
	</form>
	</div>
