
<div class="container">
	<h2 class="alert alert-dander" *ngIf="showErrorMessage">hey,{{showErrorMessage}}</h2>
	<form [formGroup]="userForm" (ngSubmit)="forgotPassword(userForm.value)">
	<div class="row">
		 <h1><i class="fa fa-lock" aria-hidden="true"></i> Forgot Password</h1>
        </div><br /><br />      
		<div formGroupName="userLogin">
			<div class="input-group">
				<input type="text"  class="form-control" placeholder="Email Id"
				[class.is-valid]="userForm.controls.userLogin.controls.emailId.valid"
				[class.is-invalid]="!userForm.controls.userLogin.controls.emailId.valid && submitted"
				formControlName="emailId"
				>
			</div><br />
		</div>           
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> Send</button>
        
        <div class="footer">
                  <p>Login Again! <a href="login">Login</a></p>
        </div>
	</form>
	</div>
