<div class="container" >
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img class="img-thumbnail" src="../../../assets/images/{{itemData.image}}"></td>
            <td>{{itemData.name}}</td>
            <td>{{itemData.description}}</td>
            <td>{{itemData.quantity}}</td>
            <td>{{itemData.price}}</td>
           
          </tr>
        </tbody>
      </table>
</div>