
<div class="banner-agile">
	<div class="container">
		<h2 style="color:white;">WELCOME TO</h2>
		<h3 style="color:white;">The ARTBUNDLE</h3>
		<p style="color:white;">We want to welcome you to the growing THE ART BUNDLE family. We’re glad you’re here! We believe you’ll find our apps, products and services to be the very best in the business</p>
		<a routerLink="/aboutus">Read More</a>
	</div>
</div>


<div class="banner-bootom-w3-agileits">
	<div class="container" >
		<div class="row">
			<!-- <div class="col-md-3 "  style="flex:1 0 30%">
				<div class="card text-white bg-info" style="margin: 10px;">
						<div class="card-body">
						<a routerLink="/productlist/5e42b3748b8b213444a70216">
							<div class="">
								<img class ="rounded-circle img-thumbnail" src="../../../assets/images/mandala.png">
							</div>
						</a>
							<h2 class="card-title"><span>MANDALA</span></h2>
							<p class="card-text">Mandala art therapy is a form of psychotherapy in which a trained therapist guides clients through a variety of artistic processes using geometric patterns in an effort to find or restore a sense of healthy mental balance.	</p>
						</div>
					
				</div>
	 		</div>
			<div class="col-md-3 "  style="flex:1 0 30%">
				<div class="card text-white bg-info" style="margin: 10px;">
					<div class="card-body">
						<div class="">
							<img class ="rounded-circle img-thumbnail" src="../../../assets/images/dottodot.png">
						</div>
						<h2 class="card-title"><span>Dot-to-Dot</span></h2>
						<p class="card-text">Dot-to-dot is a form of puzzle that a child needs to solve by connecting the dots. When connecting a sequence of numbers and letters, a child reveals magically the outline of the object and finds a "big picture" in a mass of data. Dot to dot games are educational exercises that have many benefits.</p>
					  </div>
				</div>
	 		</div>
		 	<div class="col-md-3 "  style="flex:1 0 30%">
				<div class="card text-white bg-info" style="margin: 10px;">
					<div class="card-body">
						<div class="">
							<img class ="rounded-circle img-thumbnail" src="../../../assets/images/pattern.PNG">
						</div>
						<h2 class="card-title"><span>Adult Colouring Book</span></h2>
						<p class="card-text">Working with your hands is one of the best ways to soothe anxiety and eliminate stress. This stunning, pocket-sized colouring book offers a practical exercise in mindfulness that draws on your creativity and hones your focus.</p>
					  </div>
				</div>
	 		</div> -->
			 <!-- <div class="col-md-3 "  style="flex:1 0 30%">
				<div class="card text-white bg-info" style="margin: 10px;">
					<div class="card-body">
						<a routerLink="/productlist/5e43a693a5d068226c4b190a">
						<div class="">
							<img class ="rounded-circle img-thumbnail" src="../../../assets/images/FLORAL.png">
						</div>
						</a>
						<h2 class="card-title"><span>FLORAL</span></h2>
						<p class="card-text"></p>
					  </div>
				</div>
			 </div> -->
			 
			 <div class="card-columns " >
				<a routerLink="/productlist/5e42b3748b8b213444a70216">
				<div class="card text-white bg-info " style="margin: 20px;">
					<div style="margin: 20px;">
					  <img class="card-img-top rounded-circle img-thumbnail" src="../../../assets/images/mandala.png" alt="Card image cap">
					</div>
				
				  <div class="card-body bg-info">
					<h5 class="card-title">MANDALA</h5>
					<p class="card-text">Mandala art therapy is a form of psychotherapy in which a trained therapist guides clients through a variety of artistic processes using geometric patterns in an effort to find or restore a sense of healthy mental balance.	</p>
				</div>
				</div>
			</a> 
				<div class="card p-3 bg-light" style="margin: 20px;">
				  <blockquote class="blockquote mb-0 card-body" >
					<p>Sometimes ‘Mandala’ is translated as ‘essence container’, a phrase that hints at its psychological and mystical meanings.</p>
					<footer class="blockquote-footer">
					  <small class="text-muted">
						<cite title="Source Title">Lori Bailey Cunningham</cite>
					  </small>
					</footer>
				  </blockquote>
				</div>
				<div class="card p-3 bg-light" style="margin: 20px;">
					<blockquote class="blockquote mb-0 card-body" >
					  <p>The mandala is a map for spiritual transformation.</p>
					  <footer class="blockquote-footer">
						<small class="text-muted">
						  <cite title="Source Title">Tsultrim Allione</cite>
						</small>
					  </footer>
					</blockquote>
				  </div>
				  <a routerLink="/productlist/5efc921a27e1351dcc771d20">
						<div class="card text-white bg-info" style="margin: 20px;">
							<div class="" style="margin: 20px;">
							<img class =" img-thumbnail" src="../../../assets/images/color-by-number.PNG">
							</div>
							
						<div class="card-body">
							<h5 class="card-title">COLOR-BY-NUMBER</h5>
							<p class="card-text">Color by Number printables are SO much fun! Everyone loves color by numbers, kids and adults alike. Follow the color key and watch the image come to life before your very eyes. The more you color, the more the picture comes alive.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
						</div>
					</a>
					<a routerLink="/productlist/5efc937327e1351dcc771d22">
						<div class="card text-white bg-info" style="margin: 20px;">
							<div class="" style="margin: 20px;">
							<img class =" img-thumbnail" src="../../../assets/images/dot-to-dot-print.png">
							</div>
						<div class="card-body">
							<h5 class="card-title">DOT-TO-DOT</h5>
							<p class="card-text">Dot-to-dot is a form of puzzle that a child needs to solve by connecting the dots. When connecting a sequence of numbers and letters, a child reveals magically the outline of the object and finds a "big picture" in a mass of data. Dot to dot games are educational exercises that have many benefits.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
						</div>
					</a>
				<div class="card text-center p-3 bg-light" style="margin: 20px;">
				  <blockquote class="blockquote mb-0">
					<p>Art washes away from the soul the dust of everyday life</p>
					<footer class="blockquote-footer">
					  <small>
						<cite title="Source Title">Pablo Picasso</cite>
					  </small>
					</footer>
				  </blockquote>
				</div>
				
				<div class="card text-center bg-light" style="margin: 20px;">
				  <div class="card-body">
					<h5 class="card-title">Sketching helps your creative mind function</h5>
					<p class="card-text">Sketching, doodling, or drawing has been shown to improve the ability for your brain to function and improve concentration.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				  </div>
				</div>
				<a routerLink="/productlist/5e43a8581c2603380c47ae4d">
					<div class="card text-white bg-info" style="margin: 20px;">
						<div class="" style="margin: 20px;">
						<img class =" img-thumbnail" src="../../../assets/images/adultcoloring.png">
						</div>
					<div class="card-body">
						<h5 class="card-title">ADULT COlOURING PRINT</h5>
						<p class="card-text">Working with your hands is one of the best ways to soothe anxiety and eliminate stress. This stunning, pocket-sized colouring book offers a practical exercise in mindfulness that draws on your creativity and hones your focus.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
					</div>
				</a>
				<div class="card bg-light" style="margin: 20px;">
					<div class="card-body">
					  <h5 class="card-title">REDUCE STRESS AND ANXIETY</h5>
					  <p class="card-text">Coloring has the ability to relax the fear center of your brain, the amygdala. It induces the same state as meditating by reducing the thoughts of a restless mind. This generates mindfulness and quietness, which allows your mind to get some rest after a long day at work.</p>
					  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				  </div>
				  <a routerLink="/productlist/5efc885827e1351dcc771d1c">
					<div class="card  text-white bg-info" style="margin: 20px;">
						<div style="margin: 50px;">
						<img class="rounded-circle" src="../../../assets/images/flr2.png" >
						</div>
						<div class="card-body">
							<h5 class="card-title">Printable Flower Pictures</h5>
						</div>
					</div>
					</a>
				<div class="card p-3 text-right bg-light" style="margin: 20px;">
					<blockquote class="blockquote mb-0">
					  <p>Just like meditation, coloring also allows us to switch off our brains from other thoughts and focus only on the moment, helping to alleviate free-floating anxiety.</p>
					  <footer class="blockquote-footer">
						<small class="text-muted">
						  <cite title="Source Title">CNN Health</cite>
						</small>
					  </footer>
					</blockquote>
				  </div>
			  </div>
	 	</div>
	</div>
</div>

<!-- <div class="fandt">
	<div class="container">
		
		<div class="row features">
			<h3>Our Services</h3>
			<div class="support col-sm-3">
				<div class="col-md-2 ficon hvr-rectangle-out">
					<i class="fa fa-user " aria-hidden="true"></i>
				</div>
				<div class="col-md-10 ftext">
					<h4>24/7 online free support</h4>
					<p>Praesent rutrum vitae ligula sit amet vehicula. Donec eget libero nec dolor tincidunt vulputate.</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="shipping col-sm-3">
				<div class="col-md-2 ficon hvr-rectangle-out">
					<i class="fa fa-bus" aria-hidden="true"></i>
				</div>
				<div class="col-md-10 ftext">
					<h4>Free shipping</h4>
					<p>Praesent rutrum vitae ligula sit amet vehicula. Donec eget libero nec dolor tincidunt vulputate.</p>
				</div>	
				<div class="clearfix"></div>
			</div>
			<div class="money-back col-sm-3">
				<div class="col-md-2 ficon hvr-rectangle-out">
					<i class="fa fa-money" aria-hidden="true"></i>
				</div>
				<div class="col-md-10 ftext">
					<h4>100% money back</h4>
					<p>Praesent rutrum vitae ligula sit amet vehicula. Donec eget libero nec dolor tincidunt vulputate.</p>
				</div>	
				<div class="clearfix"></div>				
			</div>
		</div>
		
		<div class="clearfix"></div>
	</div>
				
</div> -->

<!-- newsletter -->
	<!-- <div class="newsletter"> -->
		<!-- <div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h3>Newsletter</h3>
				<p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form  [formGroup]="userForm" (ngSubmit)="loginUser(userForm.value)">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="Subscribe" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div> -->
	<!-- </div> -->
<!-- //newsletter -->
<div class="footer bg-light">
	<div class="container row">
		<div class="col-sm footer-grids fgd1 ">

		</div>
		<div class="col-sm footer-grids fgd1">
		
			<ul> 
				<li><a href="index.html"><img src="../../../assets/images/logo12.png" alt=" " /></a><h4>THE ART BUNDLE</h4></li>
		
				<li>Mumbai Maharashtra</li>
				<li>India</li>
				<li><a href="mailto:theartbundle@gmail.com">theartbundle@gmail.com</a></li>
				<a href="http://instagram.com/the_art_bundle" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="https://in.pinterest.com/theartbundle/boards/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				
				
			</ul>
		</div>
		<div class="col-sm footer-grids fgd2">
			<h4>Information</h4> 
			<ul>
				<li><a routerLink="/contact">Contact Us</a></li>
				<li><a href="faq.html">FAQ's</a></li>
			</ul>
		</div>
		<div class="col-sm footer-grids fgd3">
			<h4>Print</h4> 
			<ul>
				<li><a routerLink="/productlist/5e42b3748b8b213444a70216">Mandala</a></li>
				<li><a routerLink="/productlist/5e43a8581c2603380c47ae4d">Adult coloring </a></li>
				<li><a routerLink="/productlist/5efc921a27e1351dcc771d20">Color by number </a></li>
				<li><a routerLink="/productlist/5efc885827e1351dcc771d1c">Floral</a></li>
				<li><a routerLink="/productlist/5efc937327e1351dcc771d22">Dot to dot  </a></li>
			</ul>
		</div>
		<div class="col-sm footer-grids fgd4">
			<h4>My Account</h4> 
			<ul>
				
				<li><a routerLink="/login" *ngIf="!currentUser">Login</a></li>
				<li><a routerLink="/register" *ngIf="!currentUser">Register</a></li>
				<!-- <li><a href="recommended.html">Recommended </a></li>
				<li><a href="payment.html">Payments</a></li> -->
			</ul>
		</div>
		<div class="clearfix"></div>
		<p class="copy-right col-sm-12" >© 2020 THE ART BUNDLE | WWW.THEARTBUNDLE.CLUB | All rights reserved | All photos, images and text are copyright protected. Not to be used without permission.
	</div>
</div>
	 
