
<div class="container" >{{subCatId}}
  <div class="list" class="row" style="display: inline-flex;flex-direction: row;">
      <!-- <div  *ngFor="let pro of product |subCategoryFilter:subCatId| paginate: { itemsPerPage: 2, currentPage: p }" style="flex:1 0 30%">         -->
        <div  *ngFor="let pro of product |subCategoryFilter:subCatId" style="flex:1 0 30%">
        <div class="card text-black bg-light" style="margin: 10px;">
             
              <a routerLink="/productview/{{pro._id}}">
              <div class="card-body">
                 <img class="img-thumbnail" src="../../../assets/images/{{pro.image}}">
                 <h4 class="card-title">{{pro.name}}</h4>
                 <p class="card-text">Price : {{pro.price}}</p>
                 <p class="card-text">Offer Price : {{pro.offerPrice}}</p>
               </div>
              </a>
             </div>
      </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
