.img {
    pointer-events: none;
  }
  .img {
    pointer-events: none;
  }
.cardbgcolor-1{
    background-color: 	#A1c3D1 ; 
}
.cardbgcolor-3{
    background-color: #c7d8c6;
}
.cardbgcolor-2{
    background-color: #efd9c1;
}
.cardbgcolor-6{
    background-color: #b7a9a1;
}
.cardbgcolor-5{
    background-color: #a9b7c0;
}
.cardbgcolor-4{
    background-color: #cccbc6;

}