.container{
    border:2px solid#A1c3D1;
    text-align:center;
    
    height:700px;
    width:400px;
}
body{
    padding:70px;
}
h1{
    margin:auto;
}
.row{
    height:90px;
    width:396px;
    background-color:#A1c3D1
}