


<div class="container">
	<form [formGroup]="addProductForm" enctype="multipart/form-data" (ngSubmit)="SubmitForm()"> 
	
	<div class="row">
		<h1><i class="fa fa-lock" aria-hidden="true"></i> ADD Product</h1>
	</div><br /><br /> 
		<div>
			<input type="text"  class="form-control" placeholder="Product Name"
			formControlName="name"
			>
		</div><br/>
		<div class="input-group">
			<input  type="file"   (change)="imageUpload($event)"
			 >
			<img [src]="url" class="rounded mb-3" width="10">
			
		</div><br />
		<div>
			<input type="text"  class="form-control" placeholder="Description"
			formControlName="description">
		</div><br/>
		<div>
			<input type="text"  class="form-control" placeholder="price"
			formControlName="price">
		</div><br/>
		<div>
			<input type="text"  class="form-control" placeholder="offerPrice"
			formControlName="offerPrice">
		</div><br/>
		<div>
			<div class="form-group">IsAvailable
			  	<select  class="form-control" formControlName="isAvailable">
					<option value="1">
						Yes
					</option>
					<option value="0">
						No
					</option>
				</select>
			</div>
			
		</div><br/>
		<div>isTodayOffer
				<!-- <input type="text"  class="form-control" placeholder="isTodayOffer"
				formControlName="isTodayOffer"> -->
			<select  class="form-control" formControlName="isTodayOffer">
				<option value="1">
					Yes
				</option>
				<option value="0">
					No
				</option>
			</select>
		</div><br/>
		<div>
			<select class="form-control" formControlName="catagory" (change)="changeCountry($event.target.value)">
			<option>Select</option>
				<option  *ngFor="let cate of allcategory" value="{{cate._id}}">{{cate.catname}}	
				</option>	
			</select>
		</div><br/>
		<div>
			<select class="form-control" formControlName="subCatagory">
				<option *ngFor="let sub of subcategory" value="{{sub._id}}">{{sub.name}}</option>
		</select>
		</div><br/>
		<div>IsAdmin
			<select  class="form-control"  formControlName="isAdmin">
				<option value="1">
					Yes
				</option>
				<option value="0">
					No
				</option>
			</select>
		</div><br/>
		<div>
			<input type="text"  class="form-control" placeholder="recordDate"
			formControlName="recordDate">
		</div><br/>
		<div>
			<input type="text"  class="form-control" placeholder="updateDate"
			formControlName="updateDate">
		</div><br/>
		
		
		<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> Register</button>
	<div class="footer">	
	</div>
	</form> 
</div>