
<div class="container">
	<form [formGroup]="userForm" (ngSubmit)="resetpassword(userForm.value)">
	<div class="row text-white">
		 <h1><i class="fa fa-lock" aria-hidden="true"></i> Reset Password</h1>
        </div><br /><br />      
		<div formGroupName="userLogin">
			<div class="input-group">
				<input type="text"  class="form-control" placeholder="Password"
				[class.is-valid]="userForm.get('userLogin').get('password').valid"
				[class.is-invalid]="!userForm.get('userLogin').get('password').valid && submitted"
				formControlName="password"
				>
			</div>
			<div class="small">(Use 6 or more characters with a mix of capital, small letters, numbers & symbols
				)</div><br />
			</div>           
        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-off"></span> Reset</button>
		<div  class="text-danger" *ngIf="showErrorMessage">{{showErrorMessage}}</div>
		<div class="footer">
                  
        </div>
	</form>
	</div>
