
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="">
					<div class="w3ls_dresses_grid_left_grid">
						<h3>Categories</h3>
							<div class="w3ls_dresses_grid_left_grid_sub">
								<div class="ecommerce_dres-type">
									
									<div  *ngFor="let cate of allcategory index as j">
										<ul>					
											<li>
												<a routerLink="/productlist/{{cate._id}}">
												<button  [ngClass]="(cate._id === cate.catname)?'Active':'Active'"  (click)="toggleDisplayDiv(j)" type="button" class="btn btn-outline-info">{{cate.catname}}</button></a>
											</li>
												<div   [hidden]="!toggle[j]" *ngFor="let sub of cate.subcate, index as i" >
													<!-- <li *ngIf="!cate._id">  -->
														<li>
														<div class="form-check"> 
															<div    class="checkbox custom-control custom-checkbox">
																<input  [(ngModel)]="sub.checked"
																		 [value]="sub._id" 
																		 type="checkbox" 
																		 class="custom-control-input"
																		 (ngModelChange)="onCheckboxChange(sub,$event)" 
																		 id="{{sub._id}}"
																		 #checkboxes>
																<label class="custom-control-label" for="{{sub._id}}">{{sub.name}}</label>
															</div>
														</div>	
													</li>
													
												</div>
											</ul>
										</div>
									</div>
								</div>
							</div>
					<!-- <div class="w3ls_dresses_grid_left_grid">
						<h3>Color</h3>
						<div class="w3ls_dresses_grid_left_grid_sub">
							<div class="ecommerce_color">
								<ul>
									<li><a href="#"><i></i> Red(5)</a></li>
									<li><a href="#"><i></i> Brown(2)</a></li>
									<li><a href="#"><i></i> Yellow(3)</a></li>
									<li><a href="#"><i></i> Violet(6)</a></li>
									<li><a href="#"><i></i> Orange(2)</a></li>
									<li><a href="#"><i></i> Blue(1)</a></li>
								</ul>
							</div>
						</div>
					</div> -->
					<!-- <div class="w3ls_dresses_grid_left_grid">
						<h3>Size</h3>
						<div class="w3ls_dresses_grid_left_grid_sub">
							<div class="ecommerce_color ecommerce_size">
								<ul>
									<li><a href="#">Medium</a></li>
									<li><a href="#">Large</a></li>
									<li><a href="#">Extra Large</a></li>
									<li><a href="#">Small</a></li>
								</ul>
							</div>
						</div>
					</div> -->
				</div>
			</div>
			<div class="col-8">
				<!-- <div><app-saleproduct></app-saleproduct></div> -->
				<div><app-allproduct [subCatId]="checkedListArray" [catId]="categoryId"></app-allproduct></div>
			</div>
		</div>
	</div>
</div>

<div class="footer bg-light">
	<div class="container row">
		<div class="col-sm footer-grids fgd1 ">

		</div>
		<div class="col-sm footer-grids fgd1">
		
			<ul> 
				<li><a href="index.html"></a><h4>TheArtBundle</h4></li>
		
				<li>Mumbai Maharashtra</li>
				<li>India</li>
				<li><a href="mailto:theartbundle@gmail.com">theartbundle@gmail.com</a></li>
				<a href="http://instagram.com/the_art_bundle" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="https://in.pinterest.com/theartbundle/boards/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				
				
			</ul>
		</div>
		<div class="col-sm footer-grids fgd2">
			<h4>Information</h4> 
			<ul>
				<li><a routerLink="/contact">Contact Us</a></li>
				<li><a href="faq.html">FAQ's</a></li>
			</ul>
		</div>
		<div class="col-sm footer-grids fgd3">
			<h4>Print</h4> 
			<ul>
				<li><a routerLink="/productlist/5e42b3748b8b213444a70216">Mandala</a></li>
				<li><a routerLink="/productlist/5e43a8581c2603380c47ae4d">Adult coloring </a></li>
				<li><a routerLink="/productlist/5efc921a27e1351dcc771d20">Color by number </a></li>
				<li><a routerLink="/productlist/5efc885827e1351dcc771d1c">Floral</a></li>
				<li><a routerLink="/productlist/5efc937327e1351dcc771d22">Dot to dot  </a></li>
			</ul>
		</div>
		<div class="col-sm footer-grids fgd4">
			<h4>My Account</h4> 
			<ul>
				
				<li><a routerLink="/login" *ngIf="!currentUser">Login</a></li>
				<li><a routerLink="/register" *ngIf="!currentUser">Register</a></li>
				<!-- <li><a href="recommended.html">Recommended </a></li>
				<li><a href="payment.html">Payments</a></li> -->
			</ul>
		</div>
		<div class="clearfix"></div>
		<p class="copy-right col-sm-12" >© 2020 THE ART BUNDLE | WWW.THEARTBUNDLE.CLUB | All rights reserved | All photos, images and text are copyright protected. Not to be used without permission.
	</div>
</div>